# System
.directory

# Editors
.vscode/*
!.vscode/launch.json
*.swp

# Node
node_modules
npm-debug.log

# Project
config.json.*
provisioning/rt4/var/mason_data
provisioning/rt4/var/rt4
millis-test-sync
frontend/root
frontend/tmp
ldap/lib
ldap/slapd.d
