# System
.directory

# Editors
.vscode
*.swp

# Node
node_modules
npm-debug.log

# Project
config.json.*
tools/docker/rt4/var/mason_data
tools/docker/rt4/var/rt4
millis-test-sync
frontend/root
ldap/lib
ldap/slapd.d
