{
  "auxiliaryCommentBefore": "istanbul ignore next",
  "env": {
    "node": true,
    "browser": false,
    "es6": true
  },
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters",
    "transform-es2015-destructuring"
  ]
}
