{
  "application": {
    "name": "Customer Center",
    "host": "customer-center.example.com"
  },
  "ldap": {
    "url": "ldap://ucs1:389",
    "bindDn": "uid=Administrator,cn=users,dc=adsy-ext,dc=becs,dc=adfinis-sygroup,dc=ch",
    "bindCredentials": "univention",
    "cert": "/path/to/root_ca_cert.crt"
  },
  "login": {
    "ldap": {
      "searchBase": "ou=customers,dc=adsy-ext,dc=becs,dc=adfinis-sygroup,dc=ch",
      "searchFilter": "uid={{username}}",
      "searchAttributes": [ "uid", "sn" ],

      "groupSearchBase": "ou=customers,dc=adsy-ext,dc=becs,dc=adfinis-sygroup,dc=ch",
      "groupSearchFilter": "cn={{dn}}-*",
      "groupSearchScope": "sub",
      "groupDnProperty": "sn",
      "groupSearchAttributes": [ "cn" ],

      "usernameField": "uid",
      "passwordField": "userpassword"
    },
    "secret": "ponies"
  },
  "redis": {
    "host": "localhost",
    "port": 6379,
    "options": {}
  },
  "services": [
    {
      "type": "redmine",
      "host": "redmine1",
      "https": false,
      "user": "admin",
      "apiKey": "",
      "basicAuth": {
        "username": "admin",
        "password": "admin"
      }
    },
    {
      "type": "rt",
      "host": "https://rt.example.com/rt",
      "username": "admin",
      "password": "admin",
      "knex": {
        "client": "sqlite3",
        "connection": {
          "filename": "/var/rt4/rt4"
        }
      }
    },
    {
      "type": "timescout",
      "host": "https://support.example.com/api",
      "key": "somerandomkey"
    }
  ]
}
