{{#if session.isAuthenticated}}
  {{#adsy-navigation user=session.user}}
    <main class="page-main">
      <div class="page-content page-content--scroll">{{liquid-outlet}}</div>
    </main>
  {{/adsy-navigation}}
{{else}}
  <main class="page-main">
    <div class="page-content">{{liquid-outlet}}</div>
  </main>
{{/if}}

{{ember-notify messageStyle='bootstrap' closeAfter=5000}}
