{{#if session.isAuthenticated}}
  {{#adsy-navigation}}
    <main class="page-content">
      {{outlet}}
    </main>
  {{/adsy-navigation}}
{{else}}
  <main class="page-content">
    {{outlet}}
  </main>
{{/if}}

{{ember-notify messageStyle='bootstrap' closeAfter=5000}}
