<div class="battery">
  <div class="battery-head {{unless percentage 'battery-empty'}}"></div>
  <div class="battery-frame {{unless percentage 'battery-empty'}}">
    <div class="battery-body" id="battery-body-{{index}}"></div>
  </div>
</div>
{{animate}}
