<h2>{{t 'sysupport.admin.reload'}} {{model.name}}</h2>
<div class="uk-flex">
  <div>
    <form>
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Choose amout time</legend>

        <div class="uk-margin uk-flex uk-flex-center uk-flex-middle">
          <input class="uk-text-center uk-input uk-form-width-small" type="number" placeholder="Hours">
          <span class="uk-margin-small-right uk-margin-small-left uk-text-large">:</span>
          <input class="uk-text-center uk-input uk-form-width-small" type="number" placeholder="Minutes">
        </div>

        <div class="uk-margin ">
        </div>

      </fieldset>
    </form>
  </div>
  <div>

  </div>
</div>
