.login {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-position: top center;
  background-color: #16202A;
  background-image: url(/assets/pictures/globe-blue.jpg);
}

.login > .ember-view {
  display: flex;
  flex-grow: 1;
}

.uk-card-login {
  background-color: rgba(0,0,0,.3);
}