.pointer {
  cursor: pointer;
}

.page-content-overlay {
  background-color: #000;
  transition: left 0.2s, opacity 0.2s, position 0.2s;
  opacity: 0;
  left: 0;
}

.nav-side--expand + .page-content + .page-content-overlay {
  opacity: 0.4;
}

.ember-notify-cn .ember-notify {
  left: -310px;
}

.ember-notify {
  opacity: 0;
  transition: opacity 0.75s;
}

.ember-notify-show {
  opacity: 1;
}

.ember-notify-cn, .ember-notify-cn .ember-notify-show {
  left: 0;
  right: auto;
}

.liquid-container, .liquid-child {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.hide {
  display: none;
}

@media only screen and (min-width: 30rem) {
  .xs-hide {
    display: none;
  }

  th.xs-show, td.xs-show {
    display: table-cell;
  }
}

@media only screen and (min-width: 48rem) {
  .sm-hide {
    display: none;
  }

  th.sm-show, td.sm-show {
    display: table-cell;
  }
}

@media only screen and (min-width: 62rem) {
  .md-hide {
    display: none;
  }

  th.md-show, td.md-show {
    display: table-cell;
  }
}

@media only screen and (min-width: 75rem) {
  .lg-hide {
    display: none;
  }

  th.lg-show, td.lg-show {
    display: table-cell;
  }
}
