* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

th {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body {
  counter-reset: pnumber;
}

.hidden-font,
.hidden-font a {
  color: rgba(0,0,0,0);
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.page-content-overlay {
  background-color: #000;
  transition: left 0.2s, opacity 0.2s, position 0.2s;
  opacity: 0;
  left: 0;
}

.ember-notify-cn .ember-notify {
  left: -310px;
}

.ember-notify {
  opacity: 0;
  transition: opacity 0.75s;
}

.ember-notify-show {
  opacity: 1;
}

.ember-notify-cn, .ember-notify-cn .ember-notify-show {
  left: 0;
  right: auto;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: rgb(217, 83, 79);
}

.text-warning {
  color: rgb(240, 173, 78);
}

.text-success {
  color: rgb(92, 184, 92);
}

.nav-wiki-item:first-letter {
  text-transform: uppercase;
}

dt, dd {
  display: inline;
}

dt {
  font-weight: 700;
}

dt::before {
  display: block;
  content: '';
}

dt::after {
  content: ':';
}

dd {
  margin: 0;
}

dd + dd::before {
  content: ', ';
}

ul {
  list-style-type: none;
}

.new-password p {
  color: #fff;
  font-size: 1.5rem;
}

.new-password strong {
  background: #e1e1e1;
  color: #3d3d3d;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.bg-blue {
  background-color: rgb(91, 142, 219);
}

.border-grey {
  border: 1px solid rgb(162, 155, 150);
}

.ts-package-title {
  padding: 5px;
  color: #FFF;
}

.ts-package-title::after {
  counter-increment: pnumber;
  content: " " counter(pnumber);
}

.ts-package-content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.ts-package-content .hours {
  width: 51%;
}

.ts-btn {
  margin: 0 auto;
  margin-bottom: 10px;
}

ul.nested-list {
  margin-left: -2em;
}

ul.nested-list li {
  margin-left: 2em;
}

