@import 'ember-uikit-adsy-theme';
@import 'login';

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

th {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body {
  counter-reset: pnumber;
}

.hidden-font,
.hidden-font a {
  color: rgba(0,0,0,0);
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.ember-notify-cn .ember-notify {
  left: -310px;
}

.ember-notify {
  opacity: 0;
  transition: opacity 0.75s;
}

.ember-notify-show {
  opacity: 1;
}

.ember-notify-default .ember-notify {
  margin: 0;
  padding: 0 0 0 20px;
  border: none;
}

.ember-notify-cn, .ember-notify-cn .ember-notify-show {
  left: 0;
  right: auto;
}

.uk-border-remove {
  border: 0 !important;
}