$table-hover-row-background: rgb(215, 231, 255);

@import 'ember-uikit-adsy-theme';
@import 'login';
@import 'ember-power-datepicker';
@import 'ember-mdi';

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

th {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

body {
  counter-reset: pnumber;
}

.hidden-font,
.hidden-font a {
  color: rgba(0, 0, 0, 0);
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.ember-notify-cn .ember-notify {
  left: -310px;
}

.ember-notify {
  opacity: 0;
  transition: opacity 0.75s;
}

.ember-notify-show {
  opacity: 1;
}

.ember-notify-default .ember-notify {
  margin: 0;
  padding: 0 0 0 20px;
  border: none;
}

.ember-notify-cn,
.ember-notify-cn .ember-notify-show {
  left: 0;
  right: auto;
}

.uk-border-remove {
  border: 0 !important;
}

.cc-background-pipeline-running {
  background-color: lightsalmon;
}

.cc-background-pipeline-failed {
  background-color: rgb(238, 75, 75);
}

.cc-background-pipeline-passed {
  background-color: #4eba4e;
}

.cc-background-pipeline-skiped {
  background-color: lightgray;
}

.blue-text {
  color: lightblue;
}

.calendar-day {
  padding: 10px;
}

.calendar-current-day {
  background-color: rgb(226, 226, 226);
}

.calendar-selected-day {
  background-color: rgb(225, 247, 255);
}

.calendar-not-current-month {
  color: lightgray;
}

.highlight-left {
  border-left: 8px solid #f0506e;
}

.cc-uk-divider-right {
  border-right: 1px solid #e5e5e5;
}

.cc-lead-text {
  font-size: 100px;
}

.battery-head {
  width: 30px;
  margin-left: 31px;
  border: 5px solid;
}

.battery-frame {
  display: flex;
  flex-direction: column-reverse;
  width: 70px;
  height: 170px;
  padding: 7px;
  border: 10px solid;
  border-radius: 20px;
}

.battery-empty {
  border-color: #f00;
}

.battery-body {
  height: 170px;
  border-radius: 5px;
  background-color: #6be585;

  transition-property: height, background-color;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 200ms;
}
