
<ol class="breadcrumb">
  {{#each model.path as |segment|}}
    <li>{{segment}}</li>
  {{/each}}
</ol>

{{crud-list model=model.details.data onUpdate=(route-action 'save')}}

<br>
<p><a class="color-danger" href="javascript:void(0)" {{action (route-action 'deleteNode')}}>Delete node</a></p>
