
<ol class="breadcrumb">
  {{#each model.path as |segment|}}
    <li>{{segment}}</li>
  {{/each}}
</ol>

{{crud-list
  title="vault.secrets"
  model=model.details.secret
  onUpdate=(route-action 'save')}}
