
<ol class="breadcrumb">
  {{#each model.path as |segment|}}
    <li>{{segment}}</li>
  {{/each}}
</ol>

<table class="table table--striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each-in model.details.data as |key value|}}
    <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
      <td class="text-right">
        <a href="#"><i class="fa fa-pencil"></i></a>
        <a href="#" class="color-danger"><i class="fa fa-times"></i></a>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
<form>
  <button class="btn">Add entry</button>
</form>
