{{#if isLoading }}
  <div class="uk-position-center uk-flex uk-flex-center uk-flex-middle"><div>{{uk-spinner}}</div></div>
{{else}}
  <div class="uk-animation-slide-bottom-small">

    <div uk-grid class="uk-child-width-1-1 uk-child-width-auto@l">
      <div>
        <ul class="uk-breadcrumb">
          {{#each model.path as |segment|}}
            <li class="uk-disabled"><span>{{segment}}</span></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <hr>

    {{crud-list
    title=(t 'vault.secrets')
    model=model.details.secret
    onUpdate=(route-action 'save')
    }}
  </div>
{{/if}}
