
<ol class="breadcrumb">
  {{#each model.path as |segment|}}
    <li>{{segment}}</li>
  {{/each}}
</ol>

{{crud-list
  title="vault.secrets"
  model=model.details.secret
  onUpdate=(route-action 'save')}}

<!-- <p><a class="color-danger" href="javascript:void(0)" {{action (route-action 'deleteNode')}}>{{t 'vault.delete-entry'}}</a></p> -->
