<div class="login-form">
  <form class="form-inline" {{action 'login' on='submit'}}>
    <div class="form-group login-form-email">
      <input type="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group login-form-password">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <button type="button" class="login-form-password-reset btn btn-link" {{action 'passwordreset'}}>Forgot password?</button>
  </form>
</div>
