<div class="login-form login-form--password-reset">
  <form class="fade-in">
    <div class="form-group login-form-email">
      <input type="email" class="form-control" placeholder="Email Address" autofocus>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Send new password</button>
    </div>
  </form>
</div>
