<div class="uk-container uk-padding uk-text-center uk-animation-fade-in">
  <h1 class="uk-heading-line"><span>Page not found</span></h1>

  <h3>Ooops...</h3>

  <p>
    <img src="/assets/pictures/404.svg" class="uk-width-1-1 uk-width-medium@s">
  </p>

  {{#link-to 'dashboard' class='uk-button uk-button-primary'}}
    Back to Home
  {{/link-to}}
</div>