<ul uk-tab>
  <li>
    {{#link-to "sysupport.detail.reports"}}
      Raportierungen
    {{/link-to}}
  </li>
  <li>
    {{#link-to "sysupport.detail.history"}}
      Aufladung's Historie
    {{/link-to}}
  </li>
</ul>
{{outlet}}