<h3>Page not found</h3>

<div>
  <h4>Ooops...</h4>

  <p>
    <img src="/assets/pictures/404.svg" height="400" style="max-width:72vw">
  </p>

  {{#link-to 'index' class='link-prefix'}}
    Back to <i class="fa fa-home"></i> Home
  {{/link-to}}
</div>
