<div class="login-form new-password fade-in">
  <p>Your new password is: <strong>{{model.password}}</strong></p>

  {{#link-to 'login' class='btn btn-link'}}
    {{t 'login.back-to-login'}}
  {{/link-to}}
</div>
